body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #0084ff;
  border-color: #0084ff;
  position: relative;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#quiz-btn {
  animation-delay: 0s;
}

#reaction-btn {
  animation-delay: 2.5s;
}

.animated-title {
  animation: rotateAnimation 4s infinite;
}

#pong-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.counter {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: #d3d3d3;
}
