body {
  background-color: #f8f9fa;
}

.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
  animation: jumpAnimation 1s infinite;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #0084ff;
  border-color: #0084ff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.animated-title {
  animation: rotateAnimation 4s infinite;
}

@keyframes jumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}