body {
  background-color: #f8f9fa;
}

.quiz-container {
  margin: 20px auto;
}

.question-box {
  border: 2px solid #000;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  /* background-color: #f0f0f0; */
  height: 160px;
}

table {
  width: 100%;
}

th,
td {
  text-align: center;
}

#player-box {
  font-size: 24px;
  font-weight: bold;
  height: 100px;
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}
